<div style="margin-top: 10%">
    <div class="row">
        <div class="col-lg-4">
            <img src="{{product.image}}" class="product-image" alt="product-image" style="width: 300px; height: 300px">
            
        </div>
        
        <div class="col-lg-8">
            <h2>{{product.name}}</h2>
            <h3>${{displayTwoDecimalPlaces product.price}}</h3>
            <label for="exampleFormControlSelect1">Qty:</label>
            <form method="GET" action="/add-to-cart/{{product._id}}">
                <div class="d-flex align-items-center">
                    <select class="form-control quantity-form" id="quantity" name="quantity">
                        <option value="1">1</option> 
                        <option value="2">2</option>
                    </select>
                    <button type="submit" class="btn btn-primary">Add to cart</button>
                </div>
            </form>
        </div>
        <div class="mt-5">
            <h3>About this item</h3>
            <p>{{product.description}}</p>
        </div>
    </div>
</div>

<script>

</script>